*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit;
    font-size: 15px;
    line-height: 1.2rem;
}

h1 {
    color: hsl(218, 44%, 22%);
    font-size: 25px;
    line-height: 2rem;
}

p {
    color: hsl(220, 15%, 55%);
    font-size: 18px;
}

img {
    border-radius: 20px;
    max-width: 275px;
    margin-top: 1rem;
}

.qr-code {
    display: grid;
    place-items: center;
    background-color: white;
    max-width: 20rem;
    min-height: 30rem;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 3rem;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    row-gap: 0.8rem;
}

footer {
    bottom: 5%;
}

.attribution a {
    color: hsl(251, 100%, 50%);
}