* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.meun ul {
    background-color: black;
    list-style-type: none;
    overflow: hidden;
}

.meun li {
    float: left;
}

.meun li a {
    font-size: 1.2rem;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 16px;
}

.meun .dropdown {
    display: inline-block;
}

.meun .dropdown .dropdown-content {
    display: none;
    position: absolute;
}

.meun .dropdown:hover .dropdown-content {
    display: block;

}

.meun .dropdown-content li a{
    display: block;
    background-color: grey;
    color: gold;
}