:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --main-BG: hsl(217, 54%, 11%);
    --card-BG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--main-BG);
    display: grid;
    place-items: center;
    font-family: Outfit;
    font-size: 18px;
}

a {
    text-decoration: none;
}

#title, #creator-name{
    color: white;
}

#title:hover, #creator-name:hover {
    color: hsl(215, 51%, 70%);
}

.nft-card-shadow {
    box-shadow: 0 0 30px hsl(217, 51%, 8%);
    /* box-shadow: 0 0 30px greenyellow; */
    max-width: 500px;
    max-height: 720px;
    display: grid;
    place-items: center;
    border-radius: 15px;
}

.nft-card{
    box-shadow: 0 0px 10px white; /* hsl(219, 54%, 11%) */
    border-radius: 15px;
    background-color: var(--card-BG);
    max-width: 380px;
    color: hsl(215, 51%, 70%);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.image {
    display: grid;
    place-items: center;
    position: relative;
    max-width: 320px;
}

.image:hover #NFT-image {
    opacity: 0.3;   
}

.image:hover .view {
    opacity: 1;
}

.image:hover {
    background-color: hsl(215, 51%, 70%);
    border-radius: 15px;
}

#NFT-image{
    display: block;
    width: 100%;   
    height: 100%;
    transition: 0.5s ease;
    backface-visibility: hidden;
    border-radius: 15px;
}

.view {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#view-icon {
    opacity: 1;
    display: block;
    
}
.content {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    margin: 0 1rem;
    line-height: 1.7rem;
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label > img {
    margin-right: 0.5rem;
}

.creator-info {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
    padding: 0 1.5em;
}

.creator-info img{
    height: 30px;
    border-radius: 50%;
    border: 1px solid;
    border-color: white;
}

.creator-info hr {
    border: 1px solid var(--line);
    width: 100%;
}

.creator {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 15px;
}


@media screen and (max-width: 600px) {
    body {
        margin: 1rem;
    }
}

.attribution { 
    margin-top: 20px;
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}