@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,300;1,300&family=Josefin+Sans:ital,wght@0,300;1,500&display=swap');

:root {
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    --light-slate-blue-bg: hsl(252, 100%, 67%);
    --light-royal-blue-bg: hsl(241, 81%, 54%);

    --violet-blue-circle: hsla(256, 72%, 46%, 1);
    --persian-blue-circle: hsla(241, 72%, 46%, 0);

    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

*, *::before, *::after {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: "Hanken Grotesk", sans-serif;
    /* min-height: 100vh; */
}

.report {
    min-width: 20rem;
    display: grid;
    height: inherit;
    grid-template-rows: 40% 1fr;
}

.report > * {
    padding: 1.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    /* justify-content: center; */
}

.result {
    background-image: linear-gradient(var(--light-slate-blue-bg), var(--light-royal-blue-bg));
    border-radius: 0 0 2rem 2rem;
    text-align: center;
}

.result h2, .result p {
    color: var(--light-lavender);
}

.circle {
    position: relative;
    line-height: 0;
    background-color: var(--light-royal-blue-bg);
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    /* color: var(--li); */
}

.circle::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

#mark, #mark > span {  
    position: absolute; 
    bottom: 30%; 
    width: 100%; 
    text-align: center;
    color: var(--white);
    /* font-size: 3rem; */
    font-weight: bold;
}


@media screen and (min-width: 768px) {
    
}