@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans" sans-serif;
}

.main-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 80%, 86%) );
    color: hsl(0, 36%, 70%);
}

.main-page .content {
    display: flex;
    height: 630px;
    width: 80%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0 300px 0 300px;
    font-size: 16px;
}

.content > img {
    margin-bottom: 100px;
}

.content > h1 {
    font-size: 60px;
    letter-spacing: 10px;
    margin-bottom: 50px;
}

.content > h1 > span {
    color: hsl(0, 6%, 24%);
}

.content > p {
    line-height: 30px;
    margin-bottom: 50px;
}

#email-form {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

#email-form > .email {
    display: flex;
    align-items: center;
}

.content input {
    width: 450px;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid hsl(0, 36%, 70%);
}

.content input:focus {
    outline: none;
    border: 2px solid hsl(0, 93%, 68%);
}

.content input ::placeholder::after {
    background-image: url("./images/icon-arrow.svg");
}

.email > button {
    z-index: 1;
    margin-left: -100px;
    border-radius: 30px;
    border: 1px solid hsl(0, 36%, 70%) ;
    background: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    height: 59px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.email > button:hover {
    background: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 100%, 98%));
    cursor: pointer;
}

.email > button > img {
    padding: 20px 50px;
    margin-bottom: 0;
}

#error-icon {
    display: none;
    left: 32%;
    bottom: 40%;
    position: absolute;
}

#error-message {
    visibility: hidden;
    margin-left: 1.75em;
}

.main-page .main-image {

}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}