@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    font-family: "Kanit", sans-serif;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
}

header {
    background-color: antiquewhite ;
}

.nav-bar {
    width: 100%;
    display: block;
    position: sticky;
    overflow: hidden;
}

.nav-bar ul {
    display: flex;
    background-color: aliceblue;
    justify-content: center;
}

.nav-bar ul > li > a {
    display: block;
    padding: 15px 20px;
    color: rgb(0, 5, 77);
}

.nav-bar ul > li > a:hover {
    background-color: grey;
}

.nav-bar ul > li > a:hover .dropdown-content {
    display: grid;
}

.nav-bar ul .dropdown .dropdown-content {
    display: none;
}




.news-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin: 25px;
    padding: 25px;
    gap: 50px;
}

.news-box {
    background-color: bisque;
    height: 200px;
}

footer {
    background-color: yellow;
}